player.iml
perez_pierre.pdf
CdC.odt
*.o
/serveur/tmp/
/serveur/music/*.mp3
/streamServer/a.out
/streamServer/dazzle.mp3
/serveur/generated/*
/mobile/.gradle/
/mobile/.idea/
/mobile/build/
/mobile/app/build/
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
bin/
bin-debug/
bin-release/
.settings/
*.swf
*.air
*.ipa
*.apk
.~lock.*#
*.ap_
*.dex
*.class
gen/
out/
.gradle/
build/
local.properties
*.log
.navigation/
captures/
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/dictionaries
.idea/libraries
*.jks
google-services.json
freeline.py
freeline/
freeline_project_description.json
*.d
*.slo
*.lo
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
.idea
out
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
/client/.idea/
/client/intro.mp3
/WS/cmake-build-debug/
/WS/generated/*
/client/classes/generated/Bibliotheque/*

mobile/app/FirstAndroidView/\.classpath

mobile/app/FirstAndroidView/\.project
